<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - Admin</title>

   
    <link rel="stylesheet" href="~/lib/admin-lte/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/fontawesome-free/css/all.min.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

       
        @Html.Partial("_Header")

       
        @Html.Partial("_Sidebar")

       
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid pt-3">
                    @RenderBody()
                </div>
            </section>
        </div>

    
        @Html.Partial("_Footer")

    </div>


    @Html.Partial("_Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
